<div>
    <div class="footerBarCopyrightLinks">
        <a class="customLinkStyle" href="../copyright_pages/credits-about-responsive">About This Website</a>
    </div>
    <div class="footerBarCopyrightLinks">
        <a class="customLinkStyle" href="../copyright_pages/credits-photo_copyrights-responsive">Photo Copyrights</a>
    </div>
    <div class="footerBarCopyrightLinks">
        <a class="customLinkStyle" href="../copyright_pages/credits-people_involved-responsive">People Involved</a>
    </div>
</div>
<div id="responsiveCopyrightNoticeBlock" class="projectPaintballFontFamily">
    Website Source Code &copy; 2016 Gregory Desrosiers. All rights reserved.
</div>