<div>
    <div class="footerBarCopyrightLinksWiiU">
        <a class="customLinkStyle" href="../copyright_pages/credits-about-desktop">About This Website</a>
    </div>
    <div class="footerBarCopyrightLinksWiiU">
        <a class="customLinkStyle" href="../copyright_pages/credits-photo_copyrights-desktop">Photo Copyrights</a>
    </div>
    <div class="footerBarCopyrightLinksWiiU">
        <a class="customLinkStyle" href="../copyright_pages/credits-people_involved-desktop">People Involved</a>
    </div>
</div>
<div class="projectPaintballFontFamily">
    Website Source Code &copy; 2016 Gregory Desrosiers. All rights reserved.
</div>