<div id="wiiUMiiverseBlock" class="wiiUFollowMeBlocks">
    <a href=""><img src="../../sprites/social_networking_links/miiverse.png" alt="Miiverse"></a>
</div>
<div id="wiiUFacebookBlock" class="wiiUFollowMeBlocks">
    <a href=""><img src="../../sprites/social_networking_links/facebook.png" alt="Facebook"></a>
</div>
<div id="wiiUTwitterBlock" class="wiiUFollowMeBlocks">
    <a href=""><img src="../../sprites/social_networking_links/twitter.png" alt="Twitter"></a>
</div>
<div id="wiiUInstagramBlock" class="wiiUFollowMeBlocks">
    <a href=""><img src="../../sprites/social_networking_links/instagram.png" alt="Instagram"></a>
</div>
<div id="wiiULinkedInBlock" class="wiiUFollowMeBlocks">
    <a href=""><img src="../../sprites/social_networking_links/linkedin.png" alt="LinkedIn"></a>
</div>
<div id="wiiUYouTubeBlock" class="wiiUFollowMeBlocks">
    <a href=""><img src="../../sprites/social_networking_links/youtube.png" alt="YouTube"></a>
</div>
<div id="wiiUGitHubBlock" class="wiiUFollowMeBlocks">
    <a href=""><img src="../../sprites/social_networking_links/github.png" alt="GitHub"></a>
</div>
<div id="wiiUMiitomoBlock" class="wiiUFollowMeBlocks">
    <a href=""><img src="../../sprites/social_networking_links/miitomo.png" alt="Miitomo"></a>
</div>