<div id="responsiveMiiverseBlock" class="responsiveFollowMeBlocks">
    <a href="https://miiverse.nintendo.net/users/GPDUW100"><img src="../../sprites/social_networking_links/miiverse.png" alt="Miiverse" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveFacebookBlock" class="responsiveFollowMeBlocks">
    <a href="https://www.facebook.com/gregory.desrosiers.5"><img src="../../sprites/social_networking_links/facebook.png" alt="Facebook" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveTwitterBlock" class="responsiveFollowMeBlocks">
    <a href="https://twitter.com/GregoryDes"><img src="../../sprites/social_networking_links/twitter.png" alt="Twitter" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveInstagramBlock" class="responsiveFollowMeBlocks">
    <a href="https://www.instagram.com/gregpdesig/"><img src="../../sprites/social_networking_links/instagram.png" alt="Instagram" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveLinkedInBlock" class="responsiveFollowMeBlocks">
    <a href="https://ca.linkedin.com/in/gregorydesrosiers"><img src="../../sprites/social_networking_links/linkedin.png" alt="LinkedIn" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveYouTubeBlock" class="responsiveFollowMeBlocks">
    <a href="https://www.youtube.com/user/Bammer2001"><img src="../../sprites/social_networking_links/youtube.png" alt="YouTube" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveGitHubBlock" class="responsiveFollowMeBlocks">
    <a href="https://github.com/GregPDesSCH"><img src="../../sprites/social_networking_links/github.png" alt="GitHub" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveMiitomoBlock" class="responsiveFollowMeBlocks">
    <a href="/pages/responsive/miitomo_page"><img src="../../sprites/social_networking_links/miitomo.png" alt="Miitomo" class="responsiveFollowMePictures"></a>
</div>