
<div id="wiiUMenuBlock">
    <div><a href="../wii_u/home_page" class="customLinkStyle"><span class="menuBlockLink">G</span>o to Home Page</a></div>
    <div><a href="../wii_u/resume" class="customLinkStyle"><span class="menuBlockLink">R</span>esume</a></div>
    <div>
        <div><span class="menuBlockLink">E</span>xplore More about Myself</div>
        <div class="wiiUMenuSubMenu"><a href="../wii_u/explore_more_about_myself-about_me" class="customLinkStyle">About Me</a></div>
        <div class="wiiUMenuSubMenu"><a href="../wii_u/explore_more_about_myself-education_history" class="customLinkStyle">Education History</a></div>
        <div class="wiiUMenuSubMenu"><a href="../wii_u/explore_more_about_myself-portfolio_of_projects" class="customLinkStyle">Portfolio of Projects</a></div>
    </div>
    <div><a href="../wii_u/github_repositories_and_portfolio" class="customLinkStyle"><span class="menuBlockLink">G</span>itHub Repositories / Portfolio</a></div>
    <div>
        <div><span class="menuBlockLink">O</span>bserve My Personality</div>
        <div class="wiiUMenuSubMenu"><a href="../wii_u/observe_my_personality-faq" class="customLinkStyle">FAQ</a></div>
        <div class="wiiUMenuSubMenu"><a href="../wii_u/observe_my_personality-photo_gallery" class="customLinkStyle">Photo Gallery</a></div>
    </div>
    <div><a href="../wii_u/read_my_blogs" class="customLinkStyle"><span class="menuBlockLink">R</span>ead My Blogs</a></div>
    <div><a href="../wii_u/you_better_contact_me" class="customLinkStyle"><span class="menuBlockLink">Y</span>ou better contact me!</a></div>
</div>