<div>
    <div class="footerBarCopyrightLinks">
        <a class="customLinkStyle" href="../Copyright Pages/Credits - About (Wii U).html">About This Website</a>
    </div>
    <div class="footerBarCopyrightLinks">
        <a class="customLinkStyle" href="../Copyright Pages/Credits - Photo Copyrights (Wii U).html">Photo Copyrights</a>
    </div>
    <div class="footerBarCopyrightLinks">
        <a class="customLinkStyle" href="../Copyright Pages/Credits - People Involved (Wii U).html">People Involved</a>
    </div>
</div>
<div class="projectPaintballFontFamily">
    Website Source Code &copy; 2016 Gregory Desrosiers. All rights reserved.
</div>