
<div id="responsiveMenuBlock">
    <div><a href="../Responsive Version/Home Page.html" class="customLinkStyle"><span class="menuBlockLink">G</span>o to Home Page</a></div>
    <div><a href="../Responsive Version/Resume.html" class="customLinkStyle"><span class="menuBlockLink">R</span>esume</a></div>
    <div class="responsiveSpecialMenuSection">
        <div><span class="menuBlockLink">E</span>xplore More about Myself</div>
        <div><a href="../Responsive Version/Explore More about Myself - About Me.html" class="customLinkStyle">About Me</a></div>
        <div><a href="../Responsive Version/Explore More about Myself - Education History.html" class="customLinkStyle">Education History</a></div>
        <div><a href="../Responsive Version/Explore More about Myself - Portfolio of Projects.html" class="customLinkStyle">Portfolio of Projects</a></div>
    </div>
    <div><a href="../Responsive Version/GitHub Repositories and Portfolio.html" class="customLinkStyle"><span class="menuBlockLink">G</span>itHub Repositories / Portfolio</a></div>
    <div class="responsiveSpecialMenuSection">
        <div><span class="menuBlockLink">O</span>bserve My Personality</div>
        <div><a href="../Responsive Version/Observe my Personality - FAQ.html" class="customLinkStyle">FAQ</a></div>
        <div><a href="../Responsive Version/Observe my Personality - Photo Gallery.html" class="customLinkStyle">Photo Gallery</a></div>
    </div>
    <div><a href="../Responsive Version/Read My Blogs.html" class="customLinkStyle"><span class="menuBlockLink">R</span>ead My Blogs</a></div>
    <div><a href="../Responsive Version/You better contact me!.html" class="customLinkStyle"><span class="menuBlockLink">Y</span>ou better contact me!</a></div>
</div>