<div id="wiiUMiiverseBlock" class="wiiUFollowMeBlocks">
    <a href="https://miiverse.nintendo.net/users/GPDUW100"><img src="../../Sprites/Social%20Networking%20Links/Miiverse.png" alt="Miiverse"></a>
</div>
<div id="wiiUFacebookBlock" class="wiiUFollowMeBlocks">
    <a href="https://www.facebook.com/gregory.desrosiers.5"><img src="../../Sprites/Social%20Networking%20Links/Facebook.png" alt="Facebook"></a>
</div>
<div id="wiiUTwitterBlock" class="wiiUFollowMeBlocks">
    <a href="https://twitter.com/GregoryDes"><img src="../../Sprites/Social%20Networking%20Links/Twitter.png" alt="Twitter"></a>
</div>
<div id="wiiUInstagramBlock" class="wiiUFollowMeBlocks">
    <a href="https://www.instagram.com/gregpdesig/"><img src="../../Sprites/Social%20Networking%20Links/Instagram.png" alt="Instagram"></a>
</div>
<div id="wiiULinkedInBlock" class="wiiUFollowMeBlocks">
    <a href="https://ca.linkedin.com/in/gregorydesrosiers"><img src="../../Sprites/Social%20Networking%20Links/LinkedIn.png" alt="LinkedIn"></a>
</div>
<div id="wiiUYouTubeBlock" class="wiiUFollowMeBlocks">
    <a href="https://www.youtube.com/user/Bammer2001"><img src="../../Sprites/Social%20Networking%20Links/YouTube.png" alt="YouTube"></a>
</div>
<div id="wiiUGitHubBlock" class="wiiUFollowMeBlocks">
    <a href="https://github.com/GregPDesSCH"><img src="../../Sprites/Social%20Networking%20Links/GitHub.png" alt="GitHub"></a>
</div>
<div id="wiiUMiitomoBlock" class="wiiUFollowMeBlocks">
    <a href="../../Photos/Miitomo QR Code.png"><img src="../../Sprites/Social%20Networking%20Links/Miitomo.png" alt="Miitomo"></a>
</div>