<div id="responsiveMiiverseBlock" class="responsiveFollowMeBlocks">
    <a href="https://miiverse.nintendo.net/users/GPDUW100"><img src="../../Sprites/Social%20Networking%20Links/Miiverse.png" alt="Miiverse" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveFacebookBlock" class="responsiveFollowMeBlocks">
    <a href="https://www.facebook.com/gregory.desrosiers.5"><img src="../../Sprites/Social%20Networking%20Links/Facebook.png" alt="Facebook" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveTwitterBlock" class="responsiveFollowMeBlocks">
    <a href="https://twitter.com/GregoryDes"><img src="../../Sprites/Social%20Networking%20Links/Twitter.png" alt="Twitter" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveInstagramBlock" class="responsiveFollowMeBlocks">
    <a href="https://www.instagram.com/gregpdesig/"><img src="../../Sprites/Social%20Networking%20Links/Instagram.png" alt="Instagram" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveLinkedInBlock" class="responsiveFollowMeBlocks">
    <a href="https://ca.linkedin.com/in/gregorydesrosiers"><img src="../../Sprites/Social%20Networking%20Links/LinkedIn.png" alt="LinkedIn" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveYouTubeBlock" class="responsiveFollowMeBlocks">
    <a href="https://www.youtube.com/user/Bammer2001"><img src="../../Sprites/Social%20Networking%20Links/YouTube.png" alt="YouTube" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveGitHubBlock" class="responsiveFollowMeBlocks">
    <a href="https://github.com/GregPDesSCH"><img src="../../Sprites/Social%20Networking%20Links/GitHub.png" alt="GitHub" class="responsiveFollowMePictures"></a>
</div>
<div id="responsiveMiitomoBlock" class="responsiveFollowMeBlocks">
    <a href="../../Photos/Miitomo QR Code.png"><img src="../../Sprites/Social%20Networking%20Links/Miitomo.png" alt="Miitomo" class="responsiveFollowMePictures"></a>
</div>