
<div id="wiiUMenuBlock">
    <div><a href="../Wii U Version/Home Page (Wii U).html" class="customLinkStyle"><span class="menuBlockLink">G</span>o to Home Page</a></div>
    <div><a href="../Wii U Version/Resume (Wii U).html" class="customLinkStyle"><span class="menuBlockLink">R</span>esume</a></div>
    <div>
        <div><span class="menuBlockLink">E</span>xplore More about Myself</div>
        <div class="wiiUMenuSubMenu"><a href="../Wii U Version/Explore More about Myself - About Me (Wii U).html" class="customLinkStyle">About Me</a></div>
        <div class="wiiUMenuSubMenu"><a href="../Wii U Version/Explore More about Myself - Education History (Wii U).html" class="customLinkStyle">Education History</a></div>
        <div class="wiiUMenuSubMenu"><a href="../Wii U Version/Explore More about Myself - Portfolio of Projects (Wii U).html" class="customLinkStyle">Portfolio of Projects</a></div>
    </div>
    <div><a href="../Wii U Version/GitHub Repositories and Portfolio (Wii U).html" class="customLinkStyle"><span class="menuBlockLink">G</span>itHub Repositories / Portfolio</a></div>
    <div>
        <div><span class="menuBlockLink">O</span>bserve My Personality</div>
        <div class="wiiUMenuSubMenu"><a href="../Wii U Version/Observe my Personality - FAQ (Wii U).html" class="customLinkStyle">FAQ</a></div>
        <div class="wiiUMenuSubMenu"><a href="../Wii U Version/Observe my Personality - Photo Gallery (Wii U).html" class="customLinkStyle">Photo Gallery</a></div>
    </div>
    <div><a href="../Wii U Version/Read My Blogs (Wii U).html" class="customLinkStyle"><span class="menuBlockLink">R</span>ead My Blogs</a></div>
    <div><a href="../Wii U Version/You better contact me! (Wii U).html" class="customLinkStyle"><span class="menuBlockLink">Y</span>ou better contact me!</a></div>
</div>