<!DOCTYPE html>

<!-- 
    Gregory Desrosiers' Personal Website v2.0
    Wii U Menu and Settings
    
    Start Date: February 14, 2016
    End Date:
    
    File Name: Wii U Menu and Settings.html
    
    
    
    Coding by Gregory Desrosiers
    
    Please see the Copyright file for info on copyrights.
    
    © 2016 Gregory Desrosiers. All rights reserved.
-->

<html>
    <head>
        <meta charset="UTF-8">
        <link href="../../CSS Files/Fonts/Fonts.css" type="text/css" rel="stylesheet">
        <link href="../../CSS Files/Wii U Menu.css" type="text/css" rel="stylesheet">
        <link href="../../../CSS Files/Common CSS Classes.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div id="wiiUMenuBlock" class="projectPaintballFontFamily">
            <div><a href="../Wii U Version/Home Page (Wii U).html" class="customLinkStyle">Go to Home Page</a></div>
            <div><a href="../Wii U Version/Resume (Wii U).html" class="customLinkStyle">Resume</a></div>
            <div>
                <div>Explore More about Myself</div>
                <div><a href="../Wii U Version/Explore More about Myself - About Me (Wii U).html" class="customLinkStyle wiiUMenuSubMenu">About Me</a></div>
                <div class="wiiUMenuSubMenu"><a href="../Wii U Version/Explore More about Myself - Education History (Wii U).html" class="customLinkStyle">Education History</a></div>
                <div class="wiiUMenuSubMenu"><a href="../Wii U Version/Explore More about Myself - Portfolio of Projects (Wii U).html" class="customLinkStyle">Portfolio of Projects</a></div>
            </div>
            <div><a href="../Wii U Version/GitHub Repositories and Portfolio (Wii U).html" class="customLinkStyle">GitHub Repositories / Portfolio</a></div>
            <div>
                <div>Observe My Personality</div>
                <div class="wiiUMenuSubMenu"><a href="../Wii U Version/Observe my Personality - FAQ (Wii U).html" class="customLinkStyle">FAQ</a></div>
                <div class="wiiUMenuSubMenu"><a href="../Wii U Version/Observe my Personality - Photo Gallery (Wii U).html" class="customLinkStyle">Photo Gallery</a></div>
            </div>
            <div><a href="../Wii U Version/Read on My Blogs (Wii U).html" class="customLinkStyle">Read on My Blogs</a></div>
            <div><a href="../Wii U Version/You better contact me! (Wii U).html" class="customLinkStyle">You better contact me!</a></div>
        </div>
    </body>
</html>