/* 
    Gregory Desrosiers' Personal Website v2.0
    You better contact me!
    
    Start Date: March 2, 2016
    End Date:
    
    File Name: Contact Me.css
    
    
    
    Coding by Gregory Desrosiers
    
    Please see the Copyright file for info on copyrights.
    
    © 2016 Gregory Desrosiers. All rights reserved.
*/

input, select, textarea {
    font-family: "Gill Sans MT", "Cambria", "Helvetica", sans-serif;
    font-size: 14px;
    color: white;
    background-color: black;
}


.hiddenBlocks {
    display: none;
}

.contactMeHeader {
    margin-bottom: 0px;
}

.inputCaption {
    font-size: 14px;
}

.inputSpacing, .inputSpacingResponsive {
    margin-bottom: 10px;
}



.inputMissingBorder {
    border: 3px solid red;
}

.phoneNumberWarningMessage {
    margin-bottom: 16px;
}

.contactMeWarningMessageBlocks {
    margin-bottom: 20px;
}


#typeOfEMailHeading {
    margin-top: 0px;
}

#typeOfEmail {
    margin-bottom: 30px;
}

#contactMeWarningBlock {
    margin-top: 24px;
}

#contactMeWarningHeader {
    margin-bottom: 20px;
}

#contactMeWarningMessages{
    font-size: 16px;
    color: red;
}

#contactMeSendingStatus {
    font-size: 16px;
    color: green;
}

.pageBodyBlock #messageBox {
    width: 99%;
}


#sendMessageButton{
    margin-top: 20px;
    font-size: 20px;
}