/* 
    Gregory Desrosiers' Personal Website v2.0
    Resume - CSS Spreadsheet
    
    Start Date: April 2, 2016
    End Date:
    
    File Name: Resume.css
    
    
    
    Coding by Gregory Desrosiers
    
    Please see the Copyright file for info on copyrights.
    
    © 2016 Gregory Desrosiers. All rights reserved.
*/

#creditsLinksSection {
    margin-bottom: 40px;
}

.creditsSectionSpacing {
    margin-bottom: 40px;
}

.creditsSubsectionSpacing {
    margin-bottom: 10px;
}