/* 
    Gregory Desrosiers' Personal Website v2.0
    Credits - People Involved (Stylesheet)
    
    Start Date: March 31, 2016
    End Date: May 26, 2016
    
    File Name: credits-people_involved.css
    
    
    
    Coding by Gregory Desrosiers
    
    Please see the Copyright file for info on copyrights.
    
    © 2016 Gregory Desrosiers. All rights reserved.

*/

#creditsImportantSection {
    margin-bottom: 40px;
    font-size: 18px;
}

#codingAndWebsiteDesignSection {
    margin-bottom: 30px;
}

#primaryThanksBlock {
    margin-bottom: 20px;
}

#photoPermissionHeader {
    margin-bottom: 10px;
}

#specialThanksBlock {
    margin-bottom: 50px;
}

.splatoonDevelopmentTeamExecutives {
    text-indent: 20px;
}


#wiiUTributeMessage {
    font-size: 18px;
}

#wiiUTributeMessage div {
    margin-bottom: 10px;
}

.specialThanksGroupHeaders {
    margin-bottom: 10px;
}

.specialThanksGroups {
    margin-top: 20px;
}