/* 
    Gregory Desrosiers' Personal Website v2.0
    Explore More about Myself - CSS Spreadsheet
    (For common classes only)
    
    Start Date: March 2, 2016
    End Date:
    
    File Name: Explore More about Myself.css
    
    
    
    Coding by Gregory Desrosiers
    
    Please see the Copyright file for info on copyrights.
    
    © 2016 Gregory Desrosiers. All rights reserved.
*/

.portfolioOfProjectsLeftBlock {
    float: left;
    margin-right: 10px;
}

.portfolioOfProjectsPhotos {
    border-radius: 85px;
    border: 5px inset red;
}

