/* 
    Gregory Desrosiers' Personal Website v2.0
    Index Page (CSS)
    
    Start Date: February 29, 2016
    End Date:
    
    File Name: Index Page.css
    
    
    
    Coding by Gregory Desrosiers
    
    Please see the Copyright file for info on copyrights.
    
    © 2016 Gregory Desrosiers. All rights reserved.
*/

html,body { height:100%; }

#indexPageBodyBlock {
    text-align: center;
    background-color: white;
}

#websiteHeaderIndexPage {
    font-size: 2em;
}

#homePageSubheading
{
    display: inline-block;
    text-align: center;
    width: 80%;
    font-weight: 600;
}

#websiteVersionSelectionTable, #websiteVersionSelectionTableResponsive {
    width: 100%;
}

#websiteVersionSelectionTableResponsive {
    display: none;
}

#websiteVersionSelectionTable table, #websiteVersionSelectionTableResponsive table {
    margin: 0 auto;
}

#websiteVersionSelectionTable table td {
    width: 175px;
}

#websiteVersionSelectionTableResponsive table td {
    padding: 3%;
}

#compatibilitySection, #indexPageCopyrightSection1 {
    width: 44%;
}

#compatibilitySection {
    float: left;
    margin-left: 1%;
}

#indexPageCopyrightSection1 {
    float: right;
    margin-right: 1%;
}

#indexPageCopyrightSection2 {
    clear: both;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}




/* Logo Animations 

Hover colors inspired by the three figures of Nintendo's Splatoon Amiibos.

*/
#wiiULogo, #phonesAndTabletsLogo, #pcLogo, #wiiULogo2, #phonesAndTabletsLogo2, #pcLogo2 {
    -webkit-transition: background-color 0.5s; /* Safari */
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
     transition: background-color 0.5s;
    background-color: white;
}

#wiiULogo:hover, #wiiULogo2:hover {
    background-color: #FF8F04;
}

#phonesAndTabletsLogo:hover, #phonesAndTabletsLogo2:hover {
    background-color: #B5DC13;
}

#pcLogo:hover, #pcLogo2:hover {
    background-color: #3418D8;
}

#websiteHeaderLetterG {
    color: #FF8F04;
}

#websiteHeaderLetterP {
    color: #B5DC13;
}

#websiteHeaderLetterD {
    color: #3418D8;
}





/* Wii U Media Query */
@media only screen and (max-device-width: 854px) and (min-device-width: 853px), screen and (max-height: 480px) and (min-height: 479px)
{
    #indexPageBodyBlock {
        display: block;
        position: absolute;
        top: 0px;
        left: 10%;
        width: 80%;
        padding-bottom: 2%;
        border-radius: 20px;
    }
    
    #websiteHeaderIndexPage {
        font-size: 2.5em;
    }
    
    #welcomeMessage {
        margin-bottom: 0;
    }
    
    #instructionCaption {
        margin-bottom: 10px;
    }
    
    #wiiULogo, #phonesAndTabletsLogo, #pcLogo {
        height: 150px;
        width: 150px;
        padding: 2px;
        border-radius: 10px;
    }
    
    #websiteVersionSelectionTable table td {
        width: 175px;
        padding: 5px;
    }
    
    #welcomePageOriginalWebsitePage {
        margin-top: 20px;
    }
    
    
    .websiteVersionCaption {
        font-size: 1.2em;
    }
    
    .websiteCurrentBuildCaption {
        font-size: 0.9em;
    }
    
    #systemSelectSection {
        margin-bottom: 40px;
    }
    
    #compatibilitySection {
        margin-bottom: 60px;
    }
    
    #wiiULogoImage {
        width: 160px;
        height: auto;
    }
    
    #homePageMainSection {
        margin-bottom: 30px;
    }
    
    #compatibilitySection div, #indexPageCopyrightSection1 div, #websiteDevelopmentLocation {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #indexPageCopyrightSection2 #readmeFile {
        margin-bottom: 10px;
    }
    
    #homePageCopyrightNotice {
        font-size: 1.1em;
    }
    
}

















/* 
    Responsive Media Queries 
*/
@media only screen and (max-device-width: 550px) {
    
    html,body { height:100%; }
    
    #websiteHeaderIndexPage {
        font-size: 5em;
    }
    
    #indexPageBodyBlock {
        /*position: absolute;
        left: 0;*/
        width: 100%;
        height: 240%;
        margin: 0;
        padding-top: 1%;
        /*padding-bottom: 5%;*/
    }
    
    #welcomeMessage {
        margin-bottom: 0;
    }
    
    #homePageSubheading {
        font-size: 3em;
        width: 95%;
    }
    
    #systemSelectSection {
        font-size: 3em;
    }
    
    #instructionCaption {
        margin-bottom: 10px;
    }
    
    #wiiULogo2, #phonesAndTabletsLogo2, #pcLogo2 {
        height: 400px;
        width: 400px;
        padding: 2%;
        border-radius: 5%;
    }
    
    #websiteVersionSelectionTable {
        display: none;
    }
    
    #websiteVersionSelectionTableResponsive {
        display: block;
    }
    
    
    
    #welcomePageOriginalWebsitePage {
        margin-top: 20px;
    }
    
    
    .websiteVersionCaption {
        font-size: 1.2em;
    }
    
    .websiteCurrentBuildCaption {
        font-size: 0.9em;
    }
    
    #systemSelectSection {
        margin-bottom: 40px;
    }
    
    #compatibilitySection {
        margin-top: 6%;
        margin-bottom: 6%;
    }
    
    #wiiULogoImage {
        width: 400px;
        height: auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    #homePageMainSection {
        margin-bottom: 30px;
    }
    
    #compatibilitySection div, #indexPageCopyrightSection1 div, #websiteDevelopmentLocation {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #indexPageCopyrightSection2 #readmeFile {
        margin-bottom: 10px;
    }
    
    #homePageCopyrightNotice {
        font-size: 1.1em;
    }
    
    #compatibilitySection, #indexPageCopyrightSection1, #indexPageCopyrightSection2 {
        width: 100%;
        font-size: 2.6em;
    }
    
    #compatibilitySection {
        float: none;
        margin-left: 0;
    }
    
    #readmeFile {
        margin-bottom: 6%;
    }

    #indexPageCopyrightSection1 {
        float: none;
        margin-right: 0;
        margin-bottom: 5%;
    }
    
    #indexPageCopyrightSection2 {
        margin-top: 5%;
        margin-bottom: 3%;
    }
    
    #homePageCopyrightNotice {
        font-size: 1.2em;
    }
} 




@media only screen and (min-device-width: 550px) {
    #websiteHeaderIndexPage {
        font-size: 2.5em;
    }
    
    #welcomeMessage {
        margin-bottom: 0;
    }
    
    #instructionCaption {
        margin-bottom: 10px;
    }
    
    #wiiULogo, #phonesAndTabletsLogo, #pcLogo {
        height: 150px;
        width: 150px;
        padding: 2px;
        border-radius: 10px;
    }
    
    #websiteVersionSelectionTable table td {
        width: 175px;
        padding: 5px;
    }
    
    #welcomePageOriginalWebsitePage {
        margin-top: 20px;
    }
    
    
    .websiteVersionCaption {
        font-size: 1.2em;
    }
    
    .websiteCurrentBuildCaption {
        font-size: 0.9em;
    }
    
    #systemSelectSection {
        margin-bottom: 40px;
    }
    
    #compatibilitySection {
        margin-bottom: 60px;
    }
    
    #wiiULogoImage {
        width: 160px;
        height: auto;
    }
    
    #homePageMainSection {
        margin-bottom: 30px;
    }
    
    #compatibilitySection div, #indexPageCopyrightSection1 div, #websiteDevelopmentLocation {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #indexPageCopyrightSection2 #readmeFile {
        margin-bottom: 10px;
    }
    
    #homePageCopyrightNotice {
        font-size: 1.1em;
    }
}

/* Can be used on desktop as well */
@media only screen and (min-device-width: 800px) {
    #websiteHeaderIndexPage {
        font-size: 2.5em;
    }
    
    #welcomeMessage {
        margin-bottom: 0;
    }
    
    #instructionCaption {
        margin-bottom: 10px;
    }
    
    #wiiULogo, #phonesAndTabletsLogo, #pcLogo {
        height: 150px;
        width: 150px;
        padding: 2px;
        border-radius: 10px;
    }
    
    #websiteVersionSelectionTable table td {
        width: 175px;
        padding: 5px;
    }
    
    #welcomePageOriginalWebsitePage {
        margin-top: 20px;
    }
    
    
    .websiteVersionCaption {
        font-size: 1.2em;
    }
    
    .websiteCurrentBuildCaption {
        font-size: 0.9em;
    }
    
    #systemSelectSection {
        margin-bottom: 40px;
    }
    
    #compatibilitySection {
        margin-bottom: 60px;
    }
    
    #wiiULogoImage {
        width: 160px;
        height: auto;
    }
    
    #homePageMainSection {
        margin-bottom: 30px;
    }
    
    #compatibilitySection div, #indexPageCopyrightSection1 div, #websiteDevelopmentLocation {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #indexPageCopyrightSection2 #readmeFile {
        margin-bottom: 10px;
    }
    
    #homePageCopyrightNotice {
        font-size: 1.1em;
    }
}
























/* 
    Desktop Media Queries 
    (Affects only components in the PC version of the website.)
*/

@media only screen and (min-device-width: 1366px) {
    #websiteHeaderIndexPage {
        font-size: 2.5em;
    }
    
    #welcomeMessage {
        margin-bottom: 0;
    }
    
    #instructionCaption {
        margin-bottom: 10px;
    }
    
    #wiiULogo, #phonesAndTabletsLogo, #pcLogo {
        height: 150px;
        width: 150px;
        padding: 2px;
        border-radius: 10px;
    }
    
    #websiteVersionSelectionTable table td {
        width: 175px;
        padding: 5px;
    }
    
    #welcomePageOriginalWebsitePage {
        margin-top: 20px;
    }
    
    
    .websiteVersionCaption {
        font-size: 1.2em;
    }
    
    .websiteCurrentBuildCaption {
        font-size: 0.9em;
    }
    
    #systemSelectSection {
        margin-bottom: 40px;
    }
    
    #compatibilitySection {
        margin-bottom: 60px;
    }
    
    #wiiULogoImage {
        width: 160px;
        height: auto;
    }
    
    #homePageMainSection {
        margin-bottom: 30px;
    }
    
    #compatibilitySection div, #indexPageCopyrightSection1 div, #websiteDevelopmentLocation {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #indexPageCopyrightSection2 #readmeFile {
        margin-bottom: 10px;
    }
    
    #homePageCopyrightNotice {
        font-size: 1.1em;
    }
}

@media only screen and (min-device-width: 1920px) {
    #websiteHeaderIndexPage {
        font-size: 2.5em;
    }
    
    #welcomeMessage {
        margin-bottom: 0;
    }
    
    #instructionCaption {
        margin-bottom: 10px;
    }
    
    #wiiULogo, #phonesAndTabletsLogo, #pcLogo {
        height: 150px;
        width: 150px;
        padding: 2px;
        border-radius: 10px;
    }
    
    #websiteVersionSelectionTable table td {
        width: 175px;
        padding: 5px;
    }
    
    #welcomePageOriginalWebsitePage {
        margin-top: 20px;
    }
    
    
    .websiteVersionCaption {
        font-size: 1.2em;
    }
    
    .websiteCurrentBuildCaption {
        font-size: 0.9em;
    }
    
    #systemSelectSection {
        margin-bottom: 40px;
    }
    
    #compatibilitySection {
        margin-bottom: 60px;
    }
    
    #wiiULogoImage {
        width: 160px;
        height: auto;
    }
    
    #homePageMainSection {
        margin-bottom: 30px;
    }
    
    #compatibilitySection div, #indexPageCopyrightSection1 div, #websiteDevelopmentLocation {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #indexPageCopyrightSection2 #readmeFile {
        margin-bottom: 10px;
    }
    
    #homePageCopyrightNotice {
        font-size: 1.1em;
    }
}

@media only screen and (min-device-width: 2560px) {
    #websiteHeaderIndexPage {
        font-size: 2.5em;
    }
    
    #welcomeMessage {
        margin-bottom: 0;
    }
    
    #instructionCaption {
        margin-bottom: 10px;
    }
    
    #wiiULogo, #phonesAndTabletsLogo, #pcLogo {
        height: 150px;
        width: 150px;
        padding: 2px;
        border-radius: 10px;
    }
    
    #websiteVersionSelectionTable table td {
        width: 175px;
        padding: 5px;
    }
    
    #welcomePageOriginalWebsitePage {
        margin-top: 20px;
    }
    
    
    .websiteVersionCaption {
        font-size: 1.2em;
    }
    
    .websiteCurrentBuildCaption {
        font-size: 0.9em;
    }
    
    #systemSelectSection {
        margin-bottom: 40px;
    }
    
    #compatibilitySection {
        margin-bottom: 60px;
    }
    
    #wiiULogoImage {
        width: 160px;
        height: auto;
    }
    
    #homePageMainSection {
        margin-bottom: 30px;
    }
    
    #compatibilitySection div, #indexPageCopyrightSection1 div, #websiteDevelopmentLocation {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #indexPageCopyrightSection2 #readmeFile {
        margin-bottom: 10px;
    }
    
    #homePageCopyrightNotice {
        font-size: 1.1em;
    }
}

@media only screen and (min-device-width: 3840px) {
    #websiteHeaderIndexPage {
        font-size: 2.5em;
    }
    
    #welcomeMessage {
        margin-bottom: 0;
    }
    
    #instructionCaption {
        margin-bottom: 10px;
    }
    
    #wiiULogo, #phonesAndTabletsLogo, #pcLogo {
        height: 150px;
        width: 150px;
        padding: 2px;
        border-radius: 10px;
    }
    
    #websiteVersionSelectionTable table td {
        width: 175px;
        padding: 5px;
    }
    
    #welcomePageOriginalWebsitePage {
        margin-top: 20px;
    }
    
    
    .websiteVersionCaption {
        font-size: 1.2em;
    }
    
    .websiteCurrentBuildCaption {
        font-size: 0.9em;
    }
    
    #systemSelectSection {
        margin-bottom: 40px;
    }
    
    #compatibilitySection {
        margin-bottom: 60px;
    }
    
    #wiiULogoImage {
        width: 160px;
        height: auto;
    }
    
    #homePageMainSection {
        margin-bottom: 30px;
    }
    
    #compatibilitySection div, #indexPageCopyrightSection1 div, #websiteDevelopmentLocation {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #indexPageCopyrightSection2 #readmeFile {
        margin-bottom: 10px;
    }
    
    #homePageCopyrightNotice {
        font-size: 1.1em;
    }
}